.cart
{
    width: 70%;
    margin: auto;
    padding-top: 140px;
}
.title {
    padding-left: 15px;
}
.cart h2
{
    margin-top: 20px;
}

.cart table
{
    width: 100%;
}

.cart table thead tr th:first-child
{
    text-align: left;
}

.cart table tr td 
{
    border-bottom: 1px solid #ddd;
}

.cart-button-payment {
    margin: 20px;
}

.cart-btn-payment {
    border-radius: 10px;
    padding: 2px 10px;
    background: #66ccff;
}
.cart-header {
    margin-top: 10px;
}
.cart-input {
    width: 100%;
}

.selection-btn
{
    display: flex;
    justify-content: space-between;
}

.btn-payment-page,.btn-product-page
{
    background-color: #f15e2c;
    color: #fff;
    font-family: GeometricExtraBold;
    font-size: 23px;
    height: 50px;
    width: 100%;
    margin-bottom: 5%;
}